.iconlogo{
    height: 40px;
    widows: 15;
}
.icon{
    width: 20px;
    height: 20;
}
.background {
    background-image: url(../images/background.png);
    /* background-image: url(../images/indimg.png); */
}
#register-form{
  padding: 50px;
}
    